# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCuJQ47KUvStoPMIuXQZw04rixEhHDrsYoY5oZlDRHcvi+yGSFbBxe110lkt27Bj8/qHRYSPx8KMop3cyJUJv8zso/DhDcLMv3jfNWrRbABruB+ZVl5osLSccS94H90fCDNqBa/OgQaVBPmybnmSXTEKHSlKZTPBeitKCvHpGu52FTqESYObqLr1+YJPSBbOTJwyUKNyyTocgjX92DLYzAL/nAduLnEug3ek+57eY7vxS+LK9PNVJTyr2lvJvWYn92FVW7na7VyOgQDGVh8TRsZ8gwHw+bfQrfDe5ZVOzOCrZuz7aH2yyl2KzQot6SI2mtWHkXcPcRVR1qlKoMe8sT7F+2Gl+ihga9n0jUVNcq7B29g9gzH06tpc6mxLmo7ZlkoIdAPyiaNG++zRxtki1QofYWazcdXqOHKNDcuV7br3oWwH6PlW0L8Z9ekqiokix5uqGIILtbwBnIJhUdhVlS5VTIo2upj/60tajF436z/3MIWPr7wum08UnMEmuj+XOU= inclu@LAPTOP-KAMSACPI